@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&family=Saira+Semi+Condensed:wght@400;700&display=swap');

html,
body {
  
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  font-family: 'Saira Semi Condensed', sans-serif;
}

.contentOne {
  background-image: url("/assets/bg2.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.contentTwo {
  /* background-image: url("../assets/bg2.png"); */
  background-color: #202020;
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 0% 0% 5% 0%;
}

.contentFive {
  background-color:#202020;
  height: 75vh;
  margin: 0 auto;
  padding-top: 5%;
  
}

.box {
  text-align: center;
  margin: 0 auto;
  height: auto;
  width: 800px;
  padding: 25px;
  position: relative;
  border-radius: 25px;
  background-color: #202020;
  color: white;
  border: 1px solid white;
}

.subtitle {
  text-align: center;
  color: white;
  font-size: 25px;
}

.subtitle h5 {
  letter-spacing: 1px;
  text-shadow: 2px 2px black;
}

.separator {
  height: 10px;
  background-color: linear-gradient();
}

.video-section {
  margin: 0 auto;
  text-align: center;
}

.video-section h1 {
  padding-bottom: 20px;
  color: white;
}

.video-preview {
  width: 800px;
}

.contentThree {
  height: auto;
  padding-top: 5%;
  background-image: url("/assets/bg3.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.contentThree h1 {
  text-align: center;
  color: white;
}

.contentFour {
  background-color: #202020;
  height: auto;
  color: white;
  margin: 0 auto;
  padding-top: 5%;
}

.carousel {
  padding-bottom: 50px;
}

.carousel-root {
  width: 50%;
  margin: 0 auto;
}

.navbar-nav {
  display: flex;
  background-color:rgb(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 2px solid white;
}

.topTitle {
  color: white;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

h1 {
  text-shadow: 5px 5px black;
}

.title {
  position: relative;
  margin-top: 13%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.titleTwo {
  font-size: 48px;
  color: white;
  margin-bottom: 30px;
  text-align: right;
  text-shadow: 5px 5px black;
}

.mainButton:hover{
  color: black;
  background-color: white;
}

.wrapperTwo {
  padding-top: 5%;
}

.networks {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.form-box {
  display: flex;
  flex-direction: column;
}

.message-button {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

input {
  background-color: transparent;
  color: white;
  padding: 20px;
  margin: 20px;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid white;
}

.footer {
  color: white;
  height: 35vh;
  background-color: #202020;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 2%;
  border-top: 2px solid white;
}

.firstRow, .secondRow, .thirdRow, .fourthRow {
  margin: 0 auto;
}

.thirdRow {
}

.productImages {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footerLinks {
  padding-inline-start: 0;
}

.footerBullets {
  padding-top: 20px;
  list-style-type: none;
}

h3 {
  font-size: 27px;
  text-shadow: 5px 5px black;
}

.aboutText {
  font-family: 'Saira SemiCondensed', sans-serif;
  color: white;
  font-size: 20px;
  width: 520px;
  /* height: 263px; */
  text-align: center;
  letter-spacing: 2px;

}

.aboutText p {
  font-size: 22px;
  text-shadow: 5px 5px black;
}

.bottomTitle {
  color: white;
  letter-spacing: 20px;
  font-weight: 700;
}

.subtext{
  color:white;
  font-weight: bold;
  font-size: 22px;
  width: 50%;
  margin:0 auto;
  padding-top: 50px;
  text-shadow: 5px 5px black;
  
}
.reasons{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.featuresText {
  padding: 0% 10% 3% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtitleFeature {
  text-align: center;
  font-size: 20px;
  color: white;
  padding-top: 50px;
  font-weight: 700;
}

.nav-item{
  list-style: none;
  color: white;
  padding-top: 8px;
  width: 150px;
  height: 50px;
  margin-left: 80px;
  margin-right: 80px;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, 0.822); */
}

.nav-item:hover {
  border-bottom: 5px solid white;
  /* color: #A811E4; */
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  font-family: "Saira Semi Condensed", sans-serif;
  letter-spacing: 10px;
  font-size: 2.5em;
  margin: 0;
}

/* Lottie */

lottie-player {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.main {
  width: 100%;
}

/* ======================== */

@media screen and (max-width: 1024px) {

  .featuresText {
    padding: 2%;
  }

  .blockText {
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {

  .navbar-nav {
    display: none;
  }

  .topTitle {
    padding-top: 100px;
    font-size: 7em;
  }

  .aboutText {
    text-align: center;
    width: 80%;
  }

  .carousel-root {
    width: 80%;
    margin: 0 auto;
  }

  lottie-player {
    width: auto;
    height: auto;
  }

  .featuresText {
    padding: 5% 2% 0% 2%;
  }

  .blockText {
    width: 200px;
  }
}